<!DOCTYPE html>
   <head>
      <title>Smart Parking Finder</title>
      <link rel = 'stylesheet' href = 'static/Project.css'> <!--Link to the CSS file in the static folder-->
   </head>

   <body onload="change()">
     <h1>SMART PARKING FINDER</h1> 
	  <h2>There  are {{ num_available_bays }} vacant car spots as at {{ time }}! </h2>
		
     <div id="bays" class="grid-container">
      <div id="1" value={{bay1}}> BAY 1
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>{{ time_bay1 }}</p>
      </div>
      <div id="2" value={{bay2}}> BAY 2
         <p>Type: Motorbike</p>
         <p>User Group: Student</p>
         <p>Occupied until 2:00 PM</p>
      </div>
      <div id="3" value={{bay3}}> BAY 3
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>Occupied until 1:35 PM</p> 
      </div> 
      <div id="4" value={{bay4}}> BAY 4
         <p>Type: Motorbike</p>
         <p>User Group: Student</p>
         <p>Stay up to 4 hours</p>
      </div>
      <div id="5" value={{bay5}}> BAY 5
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>Occupied until 2:45 PM</p>
      </div>
      <div id="6" value={{bay6}}> BAY 6
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>Occupied until 2:00 PM</p> 
      </div>
      <div id="7" value={{bay7}}> BAY 7
         <p>Type: Car</p>
         <p>User Group: Staff</p>
         <p>Occupied until 2:15 PM</p>
      </div>
      <div id="8" value={{bay8}}> BAY 8
         <p>Type: Car</p>
         <p>User Group: Staff</p>
         <p>Occupied until 3:00 PM</p>
      </div>
      <div id="9" value={{bay9}}> BAY 9 
         <p>Type: Car</p>
         <p>User Group: Staff</p>
         <p>Stay up to 3 hours</p>
      </div>
      </div>

			<script>
				// changes class of bays (which changes css) depending on bay status
				function change() {
					for (let id = 1; id <= 9; id++) {
						value = document.getElementById(id).getAttribute("value")
						if (value == 'occupied') {
							document.getElementById(id).className = "grid-item_occupied";
						} else {
							document.getElementById(id).className = "grid-item_vacant";
						}   
					}
				}
			 </script>
			
   </body>
</html>