<!DOCTYPE html>
   <head>
      <title>Smart Parking Finder</title>
      <link rel = 'stylesheet' href = 'static/Project.css'> <!--Link to the CSS file in the static folder-->
   </head>

   <body>
     <h1>SMART PARKING FINDER</h1> 
	  <h2>There  are {{ num_available_bays }} vacant car spots as at {{ time }}! </h2>
		
     <div class="grid-container">
      <div class="grid-item_vacant"> BAY 1
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>Stay up to: 3 hours</p>
      </div>
      <div class="grid-item_occupied"> BAY 2
         <p>Type: Motorbike</p>
         <p>User Group: Student</p>
         <p>Stay up to: 4 hours</p>
      </div>
      <div class="grid-item_occupied"> BAY 3
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>Stay up to: 3 hours</p> 
      </div> 
      <div class="grid-item_vacant"> BAY 4
         <p>Type: Motorbike</p>
         <p>User Group: Student</p>
         <p>Stay up to: 4 hours</p>
      </div>
      <div class="grid-item_occupied"> BAY 5
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>Stay up to: 3 hours</p>
      </div>
      <div class="grid-item_occupied"> BAY 6
         <p>Type: Car</p>
         <p>User Group: Student</p>
         <p>Stay up to: 3 hours</p> 
      </div>
      <div class="grid-item_occupied"> BAY 7
         <p>Type: Car</p>
         <p>User Group: Staff</p>
         <p>Stay up to: 3 hours</p>
      </div>
      <div class="grid-item_occupied"> BAY 8
         <p>Type: Car</p>
         <p>User Group: Staff</p>
         <p>Stay up to: 3 hours</p>
      </div>
      <div class="grid-item_vacant"> BAY 9 
         <p>Type: Car</p>
         <p>User Group: Staff</p>
         <p>Stay up to: 3 hours</p>
      </div>
      </div>
   </body>
</html>